*{
    padding: 0;
    margin: 0;
}

.nav-links, .textoContenido{
    font-family: 'Roboto', sans-serif;    
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 10%;
    padding: 1% 5% 0 5%;       
}

/* Logo */

.logo{
    font-size: 25px;    
    cursor: pointer;
    transition: all 0.3s;  
    letter-spacing: -0.3rem;  
    font-family: 'Roboto Serif', serif;
    padding-bottom: 1.5%;
}

/* Aumentamos el tamaño del logo cuando hay un hover */

.logo:hover{
    transform: scale(1.05);
}

/* NAV */

nav{
    padding-right: 20%;
}

/* PARTE IZQUIERDA DEL NAV - LINKS MENU*/
.nav-links{
    list-style: none; 
    font-size: 12px;
    font-weight: bold;   
}
.nav-links li{
    display: inline-block;
    padding: 0 3rem;
}
.nav-links a:hover{
    border-bottom: 2px solid black;    
}
a{
    color: black;
    text-decoration: none;
}

/* PARTE DERECHA DEL NAV - LUPA, BAG, SIGN IN */

.fila-botones{
    display: flex;    
    align-items: center;
    width: 20rem; 
}
.lupa-bag{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding-right: 5%;    
}
.iconos{
    width: 1.1rem;
    margin: 25%;      
}
.circulito{
    font-size: 8px;
    text-align: center;
    border: 1px solid black;
    background-color: white;    
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    position: relative;    
    right: 5%;
    margin-bottom: 4%;
}
.v-line{    
    border-left: 1.8px solid rgb(184, 158, 135);
    height: 20px;    
    position: center;
}

.botones-sign-in{
    display: flex; 
    justify-content: center; 
} 
.boton-1{
    width: 5rem;
    height: 1.3rem;
    margin: 2%;
    border: 1.7px solid transparent; 
    text-align: center;
}
.boton-1:hover{
    width: 5rem;
    height: 1.3rem;
    margin: 2%;
    border: 1.7px solid black; 
    text-align: center;
}
.boton-2{
    width: 5rem;
    height: 1.3rem;
    margin: 2%;
    border: 1.7px solid black; 
    text-align: center;
}
button{
    background-color: transparent;
    border: none;    
}
main{
 width: 100%;
 height: 100vh;
 background-image: url(imagenes/merlin-6.png), linear-gradient(
    to right,
    white 0%,
    white 60%,
    rgb(214, 190, 166) 60%,
    rgb(214, 190, 166) 60%        
);
 background-size: 70vh, cover;
 background-repeat: no-repeat;
 background-position: 67% bottom;
}

/* CONTENIDO PRINCIPAL */

.container{
    display: flex;
    align-items: center;
    padding: 0%;
}

/* Contenido izquierda */
.contenidoIzquierda{
    display: flex;
    flex-direction: column;  
    /* margin-bottom: 10%; */ 
    padding: 0 0 0 5%;    
}

/* Titulo colección */

.tituloColeccion{
    font-size: 6.52rem;
    font-weight:bold; 
    margin-top: 20%;      
}

/* Botón contenido principal */

.boton-3{
    width: 8rem;
    height: 2.5rem;    
    border: 3px solid black;     
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 4px;
    margin-top: 8%;    
}

.textoContenido{
    width: 40%;
    margin-top: 20%; 
    margin-bottom: 5% ;
    font-size: 13px;
    color: rgb(87, 76, 76);
}

/* Barra vertical */

.barraVertical{
    display: flex;
    align-items: center; 
    padding-right: 2%;   
}
.barraVerticalColores{
    /* border: 1px solid black; */
    height: 9rem;
    width: 0.2rem;
    background: linear-gradient(
        to top,
        rgb(167, 152, 137) 0%,
        rgb(167, 152, 137) 70%,
        black 70%
    );
}
.numerosBarraVertical{
    font-family: 'Roboto', sans-serif; ;
    font-size: 7px; 
    vertical-align: auto;
    padding-right: 0.2rem;
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
}
.numerosBarraVerticalPuntuales{
    padding-bottom: 2.5rem;
}